@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Lato:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
:root {
  --color-dark: #363440;
  --color-grey: #807e89;
  --color-grey-light: #eeedf4;
  --color-accent: #0c10c1;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--color-dark);
}

h1 {
  font-size: 4.209rem;
  font-weight: 500;
  padding: 5rem 0;
  line-height: 1.5;
}

h2,
#projects a {
  font-size: 1.777rem;
  line-height: 1.75;
}

h3 {
  font-size: 1.333rem;
}

p {
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  color: var(--color-accent);
}
.cover img {
  width: 100%;
  position: relative;
}

.cover img:hover {
  opacity: 0.8;
}

/* Menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background-color: white;
  z-index: 10;
  overflow: hidden;
  width: 100%;
}

nav a {
  color: var(--color-dark);
  text-decoration: none;
}

nav a.logo {
  color: var(--color-accent);
  font-size: 2.5rem;
  margin: 4rem;
  font-weight: 500;
  position: fixed;
  z-index: 10;
}

nav li {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 2rem;
  padding-top: 4rem;
}

nav ul {
  margin-right: 4rem;
  margin-left: auto;
}

header {
  margin-top: 10vh;
  min-height: 50vh;
  background-color: white;
  padding-left: 15vw;
  width: 50vw;
  min-width: 200px;
}

.project_header {
  margin-bottom: 5rem;
  position: relative;
}

#introduction,
#conclusion {
  margin-top: 5rem;
  min-height: 12vh;
  background-color: var(--color-grey-light);
  padding: 3rem 15vw;
}

.introduction_text,
.conclusion_text {
  line-height: 1.75;
  max-width: 600px;
}

#projects {
  margin-top: 5rem;
  min-height: 12vh;
  padding: 3rem 15vw;
  overflow: scroll;
}

#projects > div > div:nth-child(3) {
  padding-right: 8rem;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-left: -8vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 70vh;
  align-items: center;
}

.projects_grid::-webkit-scrollbar {
  display: none;
}

footer {
  gap: 2rem;
  padding: 4rem;
  color: var(--color-grey);
  font-family: "Lato", sans-serif;
  position: relative;
}

.home {
  opacity: 0;
}

/* PROJECT PAGES */
.next_project {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: 6rem;
  bottom: 5rem;
  position: fixed;
  z-index: 20;
  align-items: center;
}
.next_project p {
  color: var(--color-accent);
}
.next_project svg:hover {
  fill: var(--color-accent);
}

#p1_cover {
  border-radius: 10px;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p1_cover img {
  width: 100%;
  transform: translateY(var(--motion-translateY));
}
#p_conclusion {
  margin-top: 5rem;
  min-height: 12vh;
  background-color: var(--color-grey-light);
  padding: 3rem 15vw;
}
.cover {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 400px;
  width: 50rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.p1_image {
  border-radius: 10px;
  background-color: var(--color-dark);
  margin: 0 8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 700px;
}
.p1_image img {
  width: 100%;
}

.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 700px;
  margin: 0 8rem;
  gap: 3rem;
}

.p2_video {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  min-width: 250px;
}

.p2_video video {
  width: 100%;
}
.project_text {
  padding: 5rem 15vw;
  line-height: 1.75;
  max-width: 600px;
  font-size: 1rem;
}

.website_link {
  padding: 5rem 15vw;
  line-height: 1.75;
  max-width: 600px;
  font-size: 1rem;
}

.website_link a {
  color: var(--color-grey);
  font-family: "Lato", sans-serif;
}

.website_link a:hover {
  color: var(--color-accent);
}

/* ANIMATIONS */
.p_link {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.p_link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.p_link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#conclusion h2 {
  transform: translateX(2rem);
  opacity: 0;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 1.5em;
  }
  header {
    min-height: auto;
  }
  .cover {
    height: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .cover {
    width: 45rem;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    width: 30rem;
    height: 100%;
  }
  .projects_grid {
    height: 100%;
    align-items: start;
  }
  #p1_cover {
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 0.5em;
  }
  header {
    min-height: auto;
  }
  .cover {
    width: 25rem;
  }
  .videos {
    margin: 0;
    flex-direction: row;
    justify-content: center;
  }
  svg {
    width: 40px;
  }
  .next_project {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .p1_image {
    margin: 2rem;
    border-radius: 5px;
  }
}
